* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C1DBF1;
}

.appWrapper {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0,0, 0.2);
    width: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
}

@media only screen and (min-width: 820px) {
    .appWrapper {
        width: 820px;
    }
}
